body{

}

.wrapper{
	width: 960px;
	margin: 0 auto;
}


/* MAIN SLIDER */
.slider{
	width: 600px;
	margin: 30px auto;
	background: #eee;
	position:relative;
	min-height: 200px;
}

.slider-wrapper{
	overflow:hidden;
}

ul{
	width: 99999px;
	list-style:none;
	padding:0;
	margin:0;
}

ul li{
	float: left;
	width: 600px;
}

a.arrow{
	position: absolute;
	top: 50%;
}

a.arrow.left{
	position: absolute;
	left: -20px;
}

a.arrow.right{
	right: -20px;
}
